{{#each fields as |field|}}
  {{form-element
    field=field
    formLayout=layout
    onInputChange=(action "formChange")
  }}
{{/each}}
<div>
    <button class="btn {{submitClass}}" {{action "submit"}}>{{submitText}}</button>
</div>