<div class="row">
  <div class="col-md-12">
    <a href="{{link}}" >
      <span class="glyphicon glyphicon-link pull-right" aria-hidden="true"></span>
    </a>
  </div>
</div>
<form class="form-horizontal">
{{#form-input
  fields=model.request.fields
  submit=model.request.submit
  layout="default"
  onSubmit=(action "submit")
  onActionClick=(action "actionClick")
  onFormChange=(action "formChange")
}}
{{/form-input}}
</form>

{{#request-details
  request=request.current
  settings=model
}}
{{/request-details}}

{{#form-response
  response=response
  fields=model.fields
  config=model.response
  route=route
  request=request.lastObj
  formConfig=model
}}
{{/form-response}}


