<a href="{{link}}" >
  <span class="glyphicon glyphicon-link pull-right" aria-hidden="true"></span>
</a>
{{#form-input
  fields=model.request.fields
  submitName=model.request.submitButton
  onSubmit=(action "submit")
  onActionClick=(action "actionClick")
  onFormChange=(action "formChange")
}}
{{/form-input}}

{{#request-details
  request=request.current
  settings=model
}}
{{/request-details}}

{{#form-response
  response=response
  fields=model.fields
  config=model.response
  route=model.route
  request=request.lastObj
  formConfig=model
}}
{{/form-response}}


