<table class="table table-hover table-striped table-condensed">
    <tbody>
    {{#each data as |line|}}
        <tr>
            <td class="text-right"><b>{{line.key}}</b></td>
            <td>{{line.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>