<table class="table table-bordered table-hover">
    <tbody>
    {{#each data as |line|}}
        <tr>
            <td>{{line.key}}</td>
            <td>{{line.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>