<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-10 request-details-header" {{action "detailsClick"}}>
        Request <span class="caret"></span>
      </div>
      <div class="col-md-2 text-right" {{action "settingsClick"}}>
        &nbsp;
      </div>
    </div>
  </div>
  <div class="panel-body {{detailsClass}}">
    <pre class="prettyprint">{{requestBody}}</pre>
  </div>
</div>
