<ul class="nav nav-tabs">
  {{#each tabsWithRoute as |tab|}}
     {{#link-to tab.route tagName="li" class="top-name"}}
       <a href={{tab.route}}>{{tab.display}}</a>
     {{/link-to}}
  {{/each}}
</ul>
<div class="panel panel-default tab-container">
  {{outlet}}
</div>
