<ul class="nav nav-tabs">
  {{#each routes as |route|}}
    {{#link-to route.key tagName="li" class="top-nav"}}
        <a href={{view.href}}>{{route.display}}</a>
    {{/link-to}}
  {{/each}}
</ul>

