<div class="panel-body">
  {{#form-input
  fields=form
  submit=button
  layout="stacked"
  onSubmit=(action "submit")
  onActionClick=(action "actionClick")
  onFormChange=(action "formChange")
  }}
    {{/form-input}}
</div>