
<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">HTTP Config</div>
    <div class="panel-body">
      {{#form-input
        fields=configFields
        submit=submit
        layout=default
        onSubmit=(action "saveConfigUrl")
      }}
      {{/form-input}}

    </div>
  </div>
</div>

<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">GitHub Config</div>
    <div class="panel-body">
      {{#form-input
        fields=gihubConfigFields
        submit=submit
        layout=default
        onSubmit=(action "saveGithubUrl")
      }}
      {{/form-input}}
    </div>
  </div>
</div>


{{!--
<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">Eddy condensed config</div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-md-12">
          {{json-editor
          json=config.condensed
          disabled=false
          mode='code'
          name='root'
          onError=(action 'jsonError')
          onEditable=(action 'editable')
          onChange=(action 'change')
          }}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <button class="btn btn-default btn-sm" {{action 'loadDefault'}}>Load Default</button>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary btn-sm text" {{action 'load'}}>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
--}}