<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">Eddy condensed config</div>
    <div class="panel-body" >
      {{json-editor
        json=config.condensed
        disabled=false
        mode='code'
        name='root'
        onError=(action 'jsonError')
        onEditable=(action 'editable')
        onChange=(action 'change')
      }}
    </div>
  </div>
</div>