<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">Eddy condensed config</div>
    <div class="panel-body">
      {{json-editor
        json=config.condensed
        disabled=false
        mode='code'
        name='root'
        onError=(action 'jsonError')
        onEditable=(action 'editable')
        onChange=(action 'change')
      }}
      <input class="btn btn-default btn-sm" value="Load Default" {{action 'loadDefault'}}>
      <input class="btn btn-default btn-sm" value="Load" {{action 'load'}}>
    </div>
  </div>
</div>